* {
  margin: 0px;
}
:root {
  --color-background: #4fcebf;
  --color-type-background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

h3 {
  font-size: 28px;
}
p {
  font-size: 22px;
}
