* {
  font-family: "Lato", sans-serif;
}
.banner {
  display: flex;
  justify-content: center;
  padding: 100px !important;
  background: black;
  color: white;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}
.who-am-i {
  display: flex;
  padding: 70px;
  justify-content: space-evenly;
  overflow: hidden;
}
.quote-text {
  font-size: 70px !important;
  font-weight: 700 !important;
}
.who-am-i-header {
  font-weight: 400 !important;
  font-size: 48px !important;
  padding-bottom: 20px !important;
}

.about-img-container {
  height: 300px;
  margin-left: 20px;
}
.who-am-i-image {
  height: 100%;
  flex-shrink: 1;
  margin-left: 20px;
}
.about-text-container {
  max-width: 800px;
  overflow: hidden;
  font-weight: 300;
}

.in-my-freetime {
  display: flex;
  padding: 70px;
  justify-content: space-evenly;
}
.in-my-freetime-header {
  font-weight: 400 !important;
  font-size: 48px;
  padding-bottom: 20px;
}
.in-my-freetime-image {
  height: 100%;
  flex-shrink: 1;
  margin-right: 20px;
}
.about-text {
  line-height: 2;
  font-size: 25px;
}

.portfolio-link-image {
  height: 100%;
  flex-shrink: 1;
  margin-left: 20px;
}
.portfolio-link-container {
  max-width: 800px;
  overflow: hidden;
  font-weight: 300;
}

.portfolio-link {
  display: flex;
  padding: 70px;
  justify-content: space-evenly;
}
.portfolio-link-header {
  font-weight: 400 !important;
  font-size: 48px;
  padding-bottom: 20px;
}
.portfolio-link-image {
  height: 100%;
  flex-shrink: 1;
  margin-right: 20px;
}
.about-text {
  line-height: 2;
  font-size: 25px;
}
.web-portfolio-link {
  color: blue !important;
}

@media (max-width: 820px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .banner {
    padding: 20px;
    width: fit-content;
  }
  .quote-text {
    font-size: 40px !important;
  }
  .who-am-i {
    flex-wrap: wrap;
    width: fit-content;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .who-am-i-image {
    width: 100%;
    margin-left: 0px;
    height: auto;
    margin-top: 12px;
  }
  .who-am-i-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
    max-width: 450px;
  }
  .who-am-i-text-container {
    text-align: center;
  }

  .in-my-freetime {
    flex-wrap: wrap;
    width: fit-content;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
  }
  .in-my-freetime-image {
    width: 100%;
    margin-left: 0px;
    height: auto;
    margin-top: 12px;
  }
  .in-my-freetime-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0px;
    max-width: 450px;
  }
}
