@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
.homepage-container {
  background: url("https://freepngimg.com/download/pokemon/37446-1-pokemon-ash-transparent-background.png")
    no-repeat center center;
  background-position-y: 70%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #c0ebe6;
}
a {
  all: unset;
}
body {
  height: 100vh;
}
.hero-header {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.hero-text {
  font-size: 38px;
}
.hero-text2 {
  font-size: 24px;
  margin-top: 30px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.get-started-button {
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ed760;
  height: 48px;
  margin-top: 24%;
}
.get-started-button:hover {
  background-color: #21e065;
}
