@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap");

a {
  all: unset;
}
body {
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  position: relative;
}
body .homepage-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.75)), url("https://wallpaperaccess.com/full/109332.jpg");
  position: absolute;
  top: 0%;

  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #c0ebe6;
  overflow-y: hidden;
}
.hero-header {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 33em;
  color: white;
}
.hero-text {
  font-size: 68px;
}
.hero-text2 {
  font-size: 24px;
  margin-top: 50px;
  font-weight: 400;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.get-started-button {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
  border-radius: 4px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border: 2px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 14px 42px;
  color: #fd3f0f;
  background-color: rgba(0, 0, 0, 0.6);
  height: 48px;
  margin-top: 34%;
  box-shadow: 0 2px 4px 0 rgba(152, 158, 201, 0.2), 0 5px 15px 0 rgba(160, 164, 192, 0.15);
  cursor: pointer;
  border-color: #fd3f0f;
  transition: ease-in-out 0.3s;
}
.get-started-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.caption {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 400;
}
@media (max-width: 767px) {
  .hero-header {
    margin-top: 15px;
  }
  .hero-text {
    font-size: 52px;
  }
  .hero-text2 {
    font-size: 18px;
  }
  .homepage-container {
    background: url("https://freepngimg.com/download/pokemon/37446-1-pokemon-ash-transparent-background.png") no-repeat center center;
    background-position-y: bottom;
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #c0ebe6;
  }
}
