body {
  background-color: transparent;
  overflow-x: hidden;
}
a:hover {
  cursor: pointer;
  color: grey;
}
.pokemon-paradise {
  transition: 0.3s ease-in-out;
}

.navbar {
  z-index: 10;
  height: 110px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  color: white;
  font-family: "Lato", sans-serif;
  position: sticky;
  width: 100vw;
}
.pokemon-paradise:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px 15px;
  border-radius: 8px;
}
.pikachu-logo {
  height: 100px;
}
.logo-text {
  font-weight: 575;
  margin-left: 8px;
  font-size: 32px;
  cursor: pointer;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.right {
  display: flex;
  flex-direction: row;

  align-items: center;
  gap: 35px;
  margin-left: 5%;
  font-family: "Lato", sans-serif;
  font-weight: 550;
  font-size: 26px;
}
.right-text {
  transition: 0.3s;
}
.right-text:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 20px 15px;
  border-radius: 8px;
}
.pikachu {
  margin: 10px;
}

@media (max-width: 767px) {
  .navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    width: auto;
  }
  h1 .hero-text {
    text-align: center;
  }
  .pikachu {
    display: none;
  }
  .logo-text {
    display: none;
  }
  .left {
    display: none;
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
